" Plugins
set highlightedyank
let g:highlightedyank_highlight_duration = 200
set NERDTree

" UI/UX
set scrolloff=8
set number
set relativenumber
set showcmd
set showmode

" search
set hlsearch
set incsearch
set smartcase

" Clipboard
set clipboard+=unnamed

let mapleader=" "
let g:mapleader=" "

" Better Esc
imap jj <ESC>
nmap <leader>a ggVG
nmap s <Action>(flash.search)

" find
nmap <leader>sa <Action>(SearchEverywhere)
nmap <leader>sg <Action>(TextSearchAction)
nmap <leader>sr <Action>(ReplaceInPath)

nmap <leader>fa <Action>(GotoAction)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fw <Action>(FindInPath)
nmap <leader>fb <Action>(Switcher)
nmap <leader>fc <Action>(ShowSettings)

" Config file shortcuts
" Config file shortcuts
map <Leader>src <Action>(IdeaVim.ReloadVimRc.reload)
map <Leader>grc :e ~/.ideavimrc<CR>
map <Leader>src <Action>(IdeaVim.ReloadVimRc.reload)
map <Leader>grc :e ~/.ideavimrc<CR>

" code jump
nmap gD <Action>(GotoSuperMethod)
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)

" move on panels
nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" move on editors
nmap <S-h> <Action>(PreviousTab)
nmap <S-l> <Action>(NextTab)

" delete editors
nmap <leader>bd <Action>(CloseEditor)
nmap <leader>bD <Action>(CloseAllEditors)
nmap <leader>bo <Action>(CloseAllEditorsButActive)


" splits
map <leader>- <Action>(MoveTabRight)
map <leader>ws <Action>(MoveTabDown)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)
map <leader>wd <Action>(Unsplit)

" Save
map <C-s> <Action>(SaveAll)

" Move lines
nmap <C-S-j> <Action>(MoveLineDown)
vmap <C-S-j> <Action>(MoveLineDown)
vmap <C-S-k> <Action>(MoveLineUp)
nmap <C-S-k> <Action>(MoveLineUp)

" Folding
map zf <Action>(ExpandCollapseToggleAction)
map za <Action>(CollapseAllRegions)
map zA <Action>(ExpandAllRegions)
xmap zs <Action>(CollapseSelection)<ESC>

" Editor
nmap <leader>co <Action>(OptimizeImports)
nmap <leader>cf <Action>(ReformatCode)
nmap <leader>cr <Action>(RenameElement)
nmap <leader>cR <Action>(RenameFile)
nmap <leader>ca <Action>(Generate)
nmap <leader>cs <Action>(FileStructurePopup)
nmap <leader>ci <Action>(ImplementMethods)
nmap <leader>cD <Action>(ActivateProblemsViewToolWindow)
vmap <leader>cs <Action>(SurroundWith)

" Comments
vmap gcc <Action>(CommentByBlockComment)
nmap gcc <Action>(CommentByLineComment)

" Clear search highlights
nmap <C-a> :nohlsearch<CR>

" Close Tools windows
map q <Action>(HideActiveWindow)

" Git
map <leader>gf <Action>(Git.Fetch)
map <leader>gc <Action>(CheckinProject)
map <leader>gg <Action>(VcsGroups)
map <leader>gG <Action>(ActivateVersionControlToolWindow)
map <leader>gp <Action>(Git.Pull)
map <leader>gco <Action>(GitCheckoutFromInputAction)
map <leader>gb <Action>(Git.Branches)

" Config file shortcuts
map <leader>vs <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>vc :e ~/.ideavimrc<CR>

" Explorer
nmap - <Action>(ActivateProjectToolWindow)

" Run
nmap <leader>r <Action>(ChooseRunConfiguration)

" Debug
nmap <leader>dr <Action>(ChooseDebugConfiguration)
nmap <leader>dl <Action>(ViewBreakpoints)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>dB <Action>(BreakpointActionsGroup)
nmap <leader>da <Action>(DebuggingActionsGroup)
nmap <f10> <Action>(Stop)

" Bookmarks
nmap <leader>kk <Action>(Bookmarks)
nmap <leader>kb <Action>(ToggleBookmark)
nmap <leader>kl <Action>(ShowBookmarks)
nmap <leader>kB <Action>(ToggleBookmarkWithMnemonic)

nmap <leader>k1 <Action>(GotoBookmark1)
nmap <leader>k2 <Action>(GotoBookmark2)
nmap <leader>k3 <Action>(GotoBookmark3)
nmap <leader>k4 <Action>(GotoBookmark4)
nmap <leader>k5 <Action>(GotoBookmark5)
